<h1 align="center">Log in</h1>

<div class="col-xs-12">
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :Email, style: "font-weight: bolder; font-size: large;" %>
      <%= f.text_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :Password, style: "font-weight: bolder; font-size: large;" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= link_to "Back to Articles", articles_path %>
</div>
